<% include header %>
<style>
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

</style>
 <div class="main">
    <div class="content">


					<h2 class="txt-center red">Le paiement est à la livraison!</h2>
          <div class="">
					<div class="col-sm-6 col-md-6">
            <img id="paiement-img" src="/images/cart.png">
            <h2>Lancez votre commande</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
          <div class="col-sm-6 col-md-6">
            <img id="paiement-img" src="/images/paiement.png">
            <h2>Payez à la livraison</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
        <div class="col-xs-2 col-sm-3 col-md-4"></div>
        <div class="col-xs-8 col-sm-6 col-md-4"><a id="btn-shopping" href="/">Commancez votre shopping!</a></div>
        <div class="col-xs-2 col-sm-3 col-md-4"></div>
		   </div>
						<div class="clear"> </div>

         </div>
    </div>
 </div>
 <% include footer %>
